<div class="container">
<%# if current_user == @current_user_bookings %>
  <% @owner_puppies.each do |puppy| %>
  <% if puppy.bookings.count > 0 %>
  <h1>Here are <%= puppy.name %>bookings:</h1>
    <div class="card-confirm">

      <% puppy.bookings.each do |booking|  %>
          <div class="card-product my-3">
            <%= cl_image_tag booking.puppy.photo.key %>
            <div class="card-product-infos">
              <h2><%= link_to booking.puppy.name, puppy_path(booking.puppy) %></h2>
              <p>The session will start on the <%= booking.start_date %> until the <%= booking.end_date %></p>
              <% if booking.accepted == nil  %>
                  <p> Do you want to accept this booking? </p>
                  <%= link_to 'Yes, accept!', accept_booking_path(booking), class: "btn btn-outline-success btn-sm"%>
                  <%= link_to 'No, reject!', reject_booking_path(booking), class: "btn btn-outline-warning btn-sm" %>
                <% elsif booking.accepted == false %>
                  <p>You <strong>rejected</strong> this session!</p>
                <% else %>
                  <p>You <strong>confirmed</strong> this session!</p>
              <% end %>
               </div>
            </div>
     <% end %>
      </div>
    <% end %>
    <% end %>


  <%# else %>
  <h1>See your booked sessions:</h1>
    <div class="card-confirm">
      <div class="container">
      <% @current_user_bookings.each do |booking| %>
        <div class="card-product my-3">
          <%= cl_image_tag booking.puppy.photo.key %>
          <div class="card-product-infos">
            <h2><%= link_to booking.puppy.name, puppy_path(booking.puppy) %></h2>
            <p>You pet-a-puppy session is from the <%= booking.start_date %> to the <%= booking.end_date %></p>
              <% if booking.accepted == nil  %>
                  <p> Pending ... </p>
              <% elsif booking.accepted == false %>
                  <p>Sorry, your request got <strong>rejected</strong> by the owner. Find other <%= link_to 'cute puppies here' , puppies_path  %>.</p>
              <% else %>
                  <p>Yay, your pet-a-puppy session has been <strong>confirmed</strong> by the owner!</p>
              <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%# end %>







