<div class="container">




<div class="container">


<% @owner_puppy.each do |puppy| %>
  <% if puppy.bookings.count > 0 %>
    <div class="cards">

    <p> <%= puppy.name %> </p>
      <% puppy.bookings.each do |booking|  %>

      <%= booking.start_date %>
      <%= booking.end_date %>
        <% if booking.accepted == nil  %>
          <p> Do you want to accept this booking? </p>
          <%= link_to 'Yes, accept!', accept_booking_path(booking), class: "btn btn-outline-success btn-sm"%>
          <%= link_to 'No, reject!', reject_booking_path(booking), class: "btn btn-outline-warning btn-sm" %>
        <% elsif booking.accepted == false %>
          <p>Rejected!</p>
        <% else %>
          <p>Confirmed!</p>
        <% end %>

     <% end %>
  <% end %>

<% end %>
</div>

  </div>
  <div class="card">
    <% @current_user_bookings.each do |booking| %>
    <%= booking.puppy.name %>
    <%= booking.start_date %>
    <%= booking.end_date %>
        <% if booking.accepted == nil  %>
          <p> Pending ... </p>
        <% elsif booking.accepted == false %>
          <p>Sorry, your booking request got rejected. Find <%= link_to 'more puppies here' , puppies_path  %></p>
        <% else %>
          <p>Yay, you booked a pet-a-puppy session!</p>
        <% end %>
    <% end %>
  </div>
  </div>


