<div class="container bg-white rounded text-warning pt-3 mt-3">
<h1 class="text-center">Book your pet-a-puppy session with <%= @puppy.name %></h1>
<div class="d-flex justify-content-center p-5">
<%= simple_form_for([ @puppy, @booking ]) do |f| %>
<div class="row form-inline text-secondary">
<%= f.input :start_date, as: :date, html5: true %>

<%= f.input :end_date, as: :date, html5: true %>

<%= f.submit class: "btn btn-warning text-white active" %>
<% end %>
</div>
</div>
<%= link_to " ↪ Back to all puppies", root_path %>
</div>

