<div class="banner"
style= "background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('<%= image_path "puppies.jpg" %>');">
  <div class="container">
    <h1>Welcome to Pet-a-Puppy</h1>
    <p>Rent a puppy to have a relaxing time. At a location close to you</p>
    <a class="btn btn-warning" href="#">Discover</a>
  </div>
</div>



    <div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    Breakfast
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
    Lunch
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
    Dinner
  </div>
</div>







    <div class="row">
      <div class="col-lg-3">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
              <p class="card-text"> <%  @puppies.each do |puppy| %>
                  <%= link_to puppy.name, puppy_path(puppy) %>
                  <!-- <%= image_path '' %> -->
              <% end %></p>
          </div>
        </div>
      </div>
    </div>


<div id="map"
     style="width: 50%; height: 400px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

  <% if policy(Puppy).create? %>
    <%= link_to "New puppy", new_puppy_path %>
  <% end %>
</div>


<!-- <cl image_tag> -->

