<div class="container">
<h1>Add a puppy to rent</h1>

<%= simple_form_for (@puppy) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :prize %>
  <%= f.association :ingredient %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>

</div>
