
<div class="d-flex justify-content-center row ">
  <div class="col-sm-12 col-lg-6 " >
<div class="card-trip mt-3">
 <%= cl_image_tag @puppy.photo.key,class: "card-img-top" %>
  <div class="card-trip-infos">
    <div>
      <h2> <%= @puppy.name %> </h2>
      <p> <%= @puppy.description %></p>
      <%= link_to "Book a session now", new_puppy_booking_path(@puppy), class: "btn btn-warning" %>
    </div>
    <h2 class="card-trip-pricing">€<%=@puppy.price%>  </h2>

  </div>
</div>
</div>
</div>



<br>
<div class="d-flex justify-content-center"> <%= link_to "Back to all puppies", root_path, class: "btn btn-outline-warning" %></div>




